cache/
eln-cache/
elpa/
elpaca/
auto-save-list/
auto-saves/
backups/
recentf
recentf.bak
recentf.backup
bookmarks
places
history
tramp
transient/
url/
var/
tree-sitter/
custom.el
projectile-bookmarks.eld
abbrev_defs